<!DOCTYPE html>
<html lang="en" ng-app="signInApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>events</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</head>
<body ng-controller="SignInController">

    <h2>event</h2>
    <h4>enter the username</h4>
    <input ng-model="username"/>
    <br>
    <button ng-click="getPushes()">get pushes</button>
    <br>
    Div: Message: {% verbatim %}{{ message }}{% endverbatim %}
    <div ng-repeat="event in events track by $index">
        <p>{% verbatim %} {{event.event_id}} {% endverbatim %}</p>
        <p>{% verbatim %}{{event.name}} {% endverbatim %}</p>
        <p>{% verbatim %} {{event.description}} {% endverbatim %}</p>
        <p>{% verbatim %} {{event.category}} {% endverbatim %}</p>
        <p>rate it (0-5) </p>
        <input type="number"/>
    </div>

    <br>
    <p>...........................................</p>
    <p>machine learning pushes</p>
    <button ng-click="mp()">machine learning push </button>

    <script>
        angular.module('signInApp', [])
            .controller('SignInController', ['$scope', '$http', function ($scope, $http) {
                $scope.formData = {};
                $scope.username='';
                $scope.events = [];
                $scope.getPushes =function (){
                     $http({
                        method: 'POST',
                        url: '/api/sendPushes/',  // Update this URL to your backend endpoint

                        data: {username : $scope.username}
                    }).then(function (response) {
                        $scope.events = response.data.events;
                        console.log($scope.events)
                    }, function (error) {
                        $scope.responseMessage = "An error occurred.";
                    });
                }
                $scope.mp = function () {
                   $http({
                        method: 'POST',
                        url: 'api/trainedPush/',  // Update this URL to your backend endpoint

                        data: {username : $scope.username}
                    }).then(function (response) {
                        $scope.events = response.data.events;
                        console.log($scope.events)
                    }, function (error) {
                        $scope.responseMessage = "An error occurred.";
                    });
                }

                $scope.submitForm = function () {
                    $http({
                        method: 'POST',
                        url: '/api/signin/',  // Update this URL to your backend endpoint
                        data: $scope.formData
                    }).then(function (response) {
                        $scope.responseMessage = response.data.message;
                    }, function (error) {
                        $scope.responseMessage = "An error occurred.";
                    });
                };
            }]);
    </script>

</body>
</html>